body {
    background-image: url("../images/camel.gif");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 20px;
}

p {
    font-size: 12pt;
    color: #aa5588;
    text-align: justify;
    font-family: Arial, sans-serif;
}

strong {
    color: #0000FF;
    font-family: Verdana, sans-serif;
}
